/*
| ============================================================== |
|                                                                |
|                            FONTS                               |
|                 Fuentes de texto a utilizar                    |
|                                                                |
| ============================================================== |
*/

@font-face {
    font-family: AdobeMy;
    src: url("../assets/fonts/adobe_myungjo_std_medium.otf") format('truetype');
}

@font-face {
    font-family: JHALight;
    src: url("../assets/fonts/jha_times_now_light.otf") format('truetype');
}

@font-face {
    font-family: TimesNowSemi;
    src: url("../assets/fonts/times_now_semi_light.otf") format('truetype');
}

@font-face {
    font-family: UniLTProL;
    src: url("../assets/fonts/univers_ltpro_45_light.otf") format('truetype');
}

@font-face {
    font-family: UniLTStd-L;
    src: url("../assets/fonts/univers_ltstd_light.otf") format('truetype');
}

@font-face {
    font-family: UniLTStd-LO;
    src: url("../assets/fonts/univers_ltstd_light_obl.otf") format('truetype');
}

@font-face {
    font-family: UniLTStd-BO;
    src: url("../assets/fonts/univers_ltstd_bold.otf") format('truetype');
}