.caja__form {
    position: relative;
    margin-left: 3rem;
    bottom: 3.5rem;
}

.caja__producto {
    margin-bottom: 1rem;
}

#campoProducto {
    padding: 9px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    width: 39.7%;
    margin-right: 2rem;
}

#campoPrecio {
    padding: 9px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #000;
}

#campoDescripcion {
    padding: 7px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    width: 40%;
    resize: none;
    height: 130px;
    margin-right: 2rem;
    font-family: 'UniLTStd-L';
}

.imagenes__producto {
    display: flex;
    position: relative;
    bottom: 2rem;
    left: 3rem;
}

.producto {
    width: 25%;
    margin-right: 2rem;
    border-radius: 10px;
    border: 1px solid #000;
    object-fit: cover;
}

.productoPastel {
    object-fit: cover;
}

