@import url("Fonts.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'UniLTStd-L';
}

html{
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/*Container: Para separar el sidebar y el container */

/*.Container {
  display: flex;
}

.SideBarLM {
  width: 200px;
  position: fixed;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  margin-left: 18rem;
  height: 81vh;
}*/

/*--------------------------------------------------*/

.lista, .TituloUsuario {
  font-family: 'UniLTStd-L';
}

.TituloUsuario {
  position: relative;
  left: -1rem;
}

.TituloUsuario span {
  opacity: 40%;
}

.bandera {
  width: 1.3rem;
  position: relative;
  left: 1rem;
}


/*---------------------------------------*/


.navbar__ {
  border-bottom: 1px solid #000;
}

.charts {
  border-radius: 15px;
  border: 1px solid #000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charts, .titulo__card {
  font-family: 'UniLTStd-L';
}

.CantidadAT {
  font-size: 50px;
  font-family: 'UniLTStd-L';
  margin-bottom: .5rem;
  margin-top: -.1rem;
}

.cantidadTodayAT {
  font-size: 12px;
  position: relative;
  bottom: 1rem;
}

.graficos {
  margin-top: 0rem;
}

.caja__chart {
  position: relative;
  left: 1rem;
  top: 5rem;
}

/*.dashboard {
  display: flex;
}

.dashboard div {
  margin-right: .7rem;
}*/


/* .login {
  border-radius: 15px;
  
  padding: 2rem;
  width: 30%;
} */


.caja__login {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  top: 2rem;
  border: 1px solid #000;
}

.login2 input{
  border: 1px solid #000;
  width: 30%;
  margin-bottom: 7px;
}

.login2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 2rem;
  width: 50%;
}


.texto_Peticion {
  font-size: 25px;
  font-family: 'UniLTStd-L';
}

.texto__content__peticiones {
  font-size: 13px;
  margin-top: 2rem;
}

.caja__texto__admision {
  display: flex;
}

.texto__noti {
  position: relative;
  padding: 5px;
  border-radius: 100% 100%;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  background:#FF4236 ;
  left: 7rem;
}

.texto__noti p {
  position: relative;
  font-size: 15px;
  left: .3rem;
  top: -.8rem;
  bottom: .8rem;
  color: #FFFFFF;
}

.Titulo {
  font-size: 17px;
}

.graficos__Peticiones {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graficos__Peticiones Button {
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 3px;
}

.button {
  background-color: #050505;
  border: none;
  color: white;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  margin-top: 7px;
  cursor: pointer;
}

/*------------------------------*/

.caja__Peticiones {
  position: relative;
  left: 0rem;
  top: 2rem;
  margin-right: 2rem;
}

.peticiones {
  border-radius: 15px;
  border: 1px solid #000;
  padding: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.peticiones_dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_admision {
  text-decoration: none;
  color: #000;
  transition: 0s;
  width: max-content;
}

.button_admision:hover {
  color: #FFF;
}

.input_admisiones {
  width: 5rem;
}

.contenedor {
  width: 100%;
  position: relative;
  top: 0rem;
  left: 2rem;
}

.contenedor .col .col-larga {
  width: 40%;
  padding: 8px;
  padding-left: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: .5px solid #000;
}

.contenedor .col .col-corta {
  width: 18%;
  padding: 8px;
  padding-left: 2rem;
  border-radius: 20px;
  margin-right: .3rem;
  border: .5px solid #000;
}

.contenedor .col .col-larga-unica {
  width: 41.4%;
  border: .5px solid #000;
  border-radius: 20px;
  padding: 8px;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: -1rem;
  position: relative;
  height: 70px;
  font-family: 'UniLTStd-L';
}


.contenedor .col .col-larga-relative1,
.contenedor .col .col-larga-relative2 {
  width: 40%;
  padding: 8px;
  margin-right: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: .5px solid #000;
  position: relative;
}


.contenedor .col .col-larga-relative1 {
  position: relative;
  bottom: 4rem;
}

.contenedor .col .col-larga-relative2 {
  position: relative;
  bottom: 3.9rem;
}

.texto_editarAdmin {
  position: relative;
  bottom: 3rem;
}

.col-2 {
  position: relative;
  bottom: 3rem;
}

.contenedor_radio {
  position: relative;
  bottom: 5.5rem;
  left: 20rem;
  font-family: 'UniLTStd-L';
}

.contenedor .col-2 .col-corta2 {
  width: 18%;
  padding: 8px;
  padding-left: 2rem;
  border-radius: 20px;
  margin-right: .3rem;
  bottom: 1.5rem;
  position: relative;
  border: .5px solid #000;
}

.contenedor_radio #label {
  font-family: 'UniLTStd-L';
  margin-right: 1rem;
}

.contenedor .col-2 .col-corta22 {
  width: 18%;
  padding: 8px;
  padding-left: 2rem;
  border-radius: 20px;
  margin-right: .5rem;
  position: relative;
  left: 3.4rem;
  bottom: 3.55rem;
  border: .5px solid #000;
}

.contenedor .col-2 .col-larga2 {
  width: 35%;
  padding: 8px;
  padding-left: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  position: relative;
  bottom: .5rem;
  border: .5px solid #000;
}

.contenedor .col-2 .col-corta3 {
  width: 18%;
  padding: 8px;
  padding-left: 2rem;
  border-radius: 20px;
  position: relative;
  left: .5rem;
  bottom: 4.5rem;
  margin-right: .5rem;
  border: .5px solid #000;
}

textarea {
  height: 500px;
}

.logo-admin {
  width: 40%;
}

.notificacion {
  width: 7%;
  position: relative;
}

.content__button {
  display: flex;
  margin-left: 20.5rem;
}
.boton1,
.boton2,
.boton3 {
  margin-left: 10px;
}

.contenedor__button__Suc {
  display: flex;
  margin-left: 25.5rem;
  margin-top: 13rem;
}

.boton_linkP1,
.boton_linkP2,
.boton_linkP3 {
  text-decoration: none;
}

.boton_linkP1 {
  color: #000;
}

.boton_linkP2,
.boton_linkP3 {
  color: #FFF;
}