.contenedor__Sucursal {
    margin-left: 2rem;
    margin-top: 5rem;
}

#descripcion__Suc,
#detalle__Suc {
    resize: none;
    height: 7rem;
    width: 29rem;
    margin-left: 10px;
    margin-top: 15px;
    padding: 7px;
    font-family: 'UniLTStd-L';
    border: 1px solid #000;
    border-radius: 10px;
}

#text__Suc {
    margin-left: 10px;
    width: 46.5%;
    padding: 7px;
    font-family: 'UniLTStd-L';
    border: 1px solid #000;
    border-radius: 10px;
}


