#tablaCL {
    font-family: 'UniLTStd-L';
    width: 90%;
    position: relative;
    top: 2rem;
    left: 3.5rem;
  }
    
  #tablaCL td, #tablaCL th {
    padding: 10px;
    border-radius: 10px;
    margin-right: 5rem;
  }
    
  #tablaCL th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    opacity: 50%;
    font-family: 'UniLTStd-L';
  }
  
  #tablaCL td {
      border-radius: 10px;
      /* background: #d7e0eb; */
  }
  
  #tablaCL button {
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 7px;
  }
  
  /*MODAL: Categorias y Locaciones*/
  .textarea_modal {
    font-family: 'UniLTStd-L';
  }
  
  .titulo_modal {
    font-family: 'UniLTStd-L';
    font-size: 25px;
    font-weight: lighter;
    position: relative;
    right: 13.5rem;
    padding-bottom: 2rem;
  }
  
  
  .input_modal {
    padding: 10px;
    font-size: 15px;
    width: 45%;
    border-radius: 7px;
    border: .5px solid #000;
    opacity: 50%;
    transition: 0.3s;
    font-family: 'UniLTStd-L';
  }
  
  .input_modal:hover {
    opacity: 100%;
  }
  
  .textarea_modal {
    resize: none;
    font-size: 15px;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 7px;
    border: .5px solid #000;
    opacity: 50%;
    transition: 0.3s;
    font-family: 'UniLTStd-L';
    margin-bottom: 2rem;
  }
  
  .textarea_modal:hover {
    opacity: 100%;
  }