html, body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: var(--fontLandingPage);
}

.HandPickedBody {
    margin-top: 10rem;
}

.textoContet {
    display: flex;
    margin-top: 13rem;
    margin-bottom: 25rem;
}


.ImagenProducto {
    object-fit: contain;
}

.TituloCard {
    background: #FFF;
    padding: 15px;
    font-family: var(--fontLandingPage);
}

.buttonFechas {
    border: 1px solid #000;
    border-radius: 0px;
    color: #000;
    background-color: #FFF;
    font-family: var(--fontLandingPage);
    padding-left: 25px; 
    padding-right: 25px;
    margin: 0px;
    font-weight: bold;
    /*width: 100%;*/
}

.buttonFechas1 {
    border: 1px solid #000;
    border-radius: 0px;
    color: #FFF;
    background-color: #000;
    font-family: var(--fontLandingPage);
    padding-left: 75px;
    padding-right: 75px;
    margin: 0px;
    font-size: 15px;
}

.buttonFechas2 {
    border: 1px solid #000;
    border-radius: 0px;
    color: #000;
    background-color: #FFF;
    font-family: var(--fontLandingPage);
    margin: 0px;
    font-weight: bold;
}

.buttonFechas:hover,
.buttonFechas1:hover {
    background-color: #000;
    border: 1px solid #000;
}

.buttonFechas2:hover {
    background-color: #FFF;
    border: 1px solid #000;
}


.buttonFechas2:active {
    background-color: #FFF;
    border: 1px solid #000;
}

.buttonFechas:active,
.buttonFechas1:active {
    background-color: #000;
    border: 1px solid #000;
}

.TituloFechas{
    font-size: 15px;
}

.SubtituloFechas {
    font-size: 10px;
}

.separatorRadio {
    background: #000;
}

.separator {
    background: #000;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
}

.separator1 {
    background: #000;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}

input[type="radio"]{
    display: none;
}

label{
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
}

label span{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 31px;
    transition: .25s ease;
}

/* label span:hover,
input[type="radio"]:checked + span{
    background-color: #d6d6e5; 
    border-bottom: 1px solid #000;
} */

/*label span:before{
    content: "";
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 9.5rem;
    transition: .25s ease;
    box-shadow:  inset 0 0 0 2px #198754;
}*/

input[type="radio"]:checked + span:before{
    box-shadow: inset 0 0 0 7px #198754;
}

.LogoLikeLuzi {
    width: 50px;
}


.LinkButtonVerMasH {
    text-decoration: none;
}

.card {
    border: 1px solid #000;
    border-radius: 0px;
}

.card-img-top {
    border-radius: 0px;
}

.containerHP {
    width: 100%;
}

#cardDetails {
    width: 30%;
}

#crdImg{
    width: 40%;
}

#butGroup{
    width: 100%;
}

@media screen and (max-width: 1550px){
    .TituloFechas{
        font-size: 12px;
    }

    #butGroup .buttonFechas{
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 1300px){
    #butGroup .buttonFechas1{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1200px){
    #butGroup .buttonFechas{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1024px){
    .SubtituloFechas{
        display: none;
    }

    #butGroup .buttonFechas{
        padding-left: 5px;
        padding-right: 5px;
    }
}


