/*
================================================================

    Codigo para exportar fonts, colores, etc. a otra hoja css

================================================================
*/

@import url("../../../css/fonts.css");

/*============ FOTNS PARA LA LANDING PAGE ============*/

:root {
    --colorNavbarDireccion: #F2F2F2;
    --colorNavbarPO: #FFFFFF;
    --fontNavbarDireccion: 'JHALight';
    --fontLandingPage: 'UniLTProL';
    --fontBOLD: 'UniLTStd-BO';
}